body {
  background-color:  #f7fbfc;
  font-family: 'Merriweather', serif;
  line-height: 1.5;
  text-align: center;
}
.top-container{
  background-color: #d3f6f3 ;
  padding-top: 100px;
}
strong {
  color: #769fcd;
}
h1 {
  padding-top: 1em;
  color: #769fcd;
  font-family: 'Nanum',cursive;
  margin: 0 auto 0 auto;
}
h2{
  color: #769fcd;
  font-family: 'DM Serif Display',serif;
  margin: 0 auto 0 auto;
}
h3{
  color: #769fcd;
  font-family: 'DM Serif Display',serif;
  margin: 0 auto 0 auto;
}
img{
  position:relative;
}
.cloudleft{
  position: absolute;
  left: 150px;
  top: 300px;
}
.cloudright{
  position: absolute;
  left: 500px;
  top:50px;
}
.mountain{
  position:relative;
  left: 50px;
  bottom: 50px;

}
p{
  font-family: 'DM Serif Display',serif;
  color: #769fcd;
}
div {
  margin:0;
  padding:1em;
}

.pro {
  text-decoration: underline;
}
a{
  color: #293462;
}
