body {
  background-color: #f7fbfc;
  font-family: 'Merriweather', serif;
  line-height: 1.5;
  text-align: center;
  font-size: 110%;
}

strong {
  color: #769fcd;
}

h1 {
  padding-top: 1em;
  color: #17223b;
  font-family: 'Cinzel', serif;
  margin: 0 auto 0 auto;
  font-size: 5.625rem;
  font-weight: lighter;
  line-height: 1.5;
}

h2 {
  color: #17223b;
  font-family: 'DM Serif Display', serif;
  margin: 0 auto 0 auto;
  font-size: 2.5rem;
  font-weight: normal;
}

h3 {
  color: #263859;
  font-family: 'DM Serif Display', serif;
  margin: 0 auto 0 auto;
}
h4 {
  color: #263859;
  font-family: 'DM Serif Display', serif;
  margin: 0 auto 0 auto;
}

img {
  position: relative;
}

p {
  font-family: 'DM Serif Display', serif;
  color: #1c2938;
  text-align: center;
}

div {
  margin: 0;

}

a {
  color: #293462;
}

tr {
  color: #293462;
}

.top-container {
  background-color: #d3f6f3;
  padding-top: 100px;
}

.cloudleft {
  position: absolute;
  left: 150px;
  top: 300px;
}

.cloudright {
  position: absolute;
  right: 150px;
  top: 150px;
}

.mountain {
  position: relative;
}

.pro {
  text-decoration: underline;
}

.profile {
  image-resolution: snap;
  max-width: 100%;
  height: auto;
  position: relative;
}

.propic {
  max-width: 30%;
  height: auto;
}

.computerpng{
  max-width: 30%;
  
}

.skillprogram{
  float: left;
  margin-left: 15%;
}

.tableSkill {
  margin-left: auto;
  margin-right: auto;
}

.frameworksApp {
  margin-left: auto;
  margin-right: auto;
}

.icon{
  font-size: 10px;
}
